<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corona graph</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    {{ charts_init }}
</head>
<body>
	<form name="update-graph" method="POST">
  <div class="slidecontainer">
    <input type="range" min="2" max={{datalength}} value="{{zoom}}" class="slider" id="myRange" name="slider">
      <div class="days">
        <p>Days: <span id="demo"></span></p>
      </div>
  </div>

  <div class="graph">
    {{ charts.corona }}
  </div>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value
slider.onclick = function(){document.getElementsByName("update-graph")[0].submit()}
slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
</form>
</body>
</html>